<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form to hello</title>
</head>
<body>
<form th:action="@{/hello-response-v3}" method="POST">
    <label for="toForm1" >enter name:</label>
    <input type="text"  id="toForm1" name="username"
            placeholder="What's your name...?"/>
    <input type="text"  id="toForm2" name="lastname"
           placeholder="What's your last name...?"/>
    <button type="submit">Submit</button>
</form>

</body>
</html>