<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .errorMsg{
        color:red
        }
        .logoutMsg{
        color:green;
        }
    </style>
</head>
<body>
<form th:action="@{/authenticateTheUser}" method="POST">
    <i th:if="${param.error}" class="errorMsg">Incorrect username/password </i>
    <i th:if="${param.logout}" class="logoutMsg">successfully logged out! </i>
    <p>
        User name: <input type="text" name="username">
    </p>
    <p>
        Password: <input type="text" name="password">
    </p>
    <input type="submit" value="submit">
</form>
<hr>

</body>
</html>